##### Files #####
.DS_Store

##### Folders #####
# Intellij Folder
.idea/

# Data folder
data/categories/
data/libraries/
data/posts/
data/tags/
data/model/
data/usages/
data/samples/

# Jar folder
jars/

# Compiled folder
target
